# Notebook with data on some other platform (eg AWS)

This notebook includes links to datasets on other platforms.

In [5]:
import pandas as pd

In [6]:
data = [
    {"name": "Bob", "animal": "cat", "number": 3},
    {"name": "Bob", "animal": "dog", "number": 1},
    {"name": "Jan", "animal": "cat", "number": 0},
    {"name": "Jan", "animal": "dog", "number": 2},
]

In [7]:
df = pd.DataFrame(data)
df.head()

  name animal  number
0  Bob    cat       3
1  Bob    dog       1
2  Jan    cat       0
3  Jan    dog       2

----

Created by [Tim Sherratt](https://timsherratt.org) for the [GLAM Workbench](https://glam-workbench.net/).